<!DOCTYPE HTML>
<html>
  <head>
    <title>Welcome to Blue Hood</title>		
    <link href="{{servlet-context}}/css/bootstrap.min.css" rel="stylesheet" type="text/css"></link>
    <link href="{{servlet-context}}/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"></link>
    <link href="{{servlet-context}}/css/screen.css" rel="stylesheet" type="text/css"></link>

    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="{{servlet-context}}/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">

      {% block navbar %}

      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="{{servlet-context}}/">Blue Hood</a> 

          {% if name %}

          <ul class="nav pull-right">
            <li id="welcome" class="navbar-text">Signed in as {{name}}</li>
            <li class="divider-vertical"></li>
            <li><a href="{{servlet-context}}/profile">Profile</a></li>
            <li><a href="{{servlet-context}}/logout">Sign Out</a></li>
          </ul>

          {% else %}

          <ul class="nav pull-right">	
            <li><a href="{{servlet-context}}/login">Sign In</a></li>
            <li><a href="{{servlet-context}}/register">Sign Up</a></li>
          </ul>

          {% endif %}

          <div class="nav-collapse"></div> <!--/.nav-collapse -->
        </div>
      </div>

      {% endblock %}

      {% block content %}

      {% endblock %}

    </div>

    <div id="push"></div>
  </body>
</html>
