{% extends "bluehood/views/templates/base.html" %}

{% block navbar %}

{% endblock %}

{% block content %}

<form action="{{servlet-context}}/register" method="POST" class="form-horizontal">
  <div class="control-group">
    <label for="id" class="control-label">Username</label>
    <div class="controls">

      {% if id-error %}
      <div class="error">{{id-error}}</div>
      {% endif %}

      <input id="id" name="id" tabindex="1" type="text" value={{id}}></input>
    </div>
  </div>

  <div class="control-group">
    <label for="pass" class="control-label">Password</label>
    <div class="controls">
      {% if pass-error %}
      <div class="error">{{pass-error}}</div>
      {% endif %}

      <input id="pass" name="pass" tabindex="2" type="password"></input>
    </div>
  </div>

  <div class="control-group">
    <label for="pass1" class="control-label">Password Confirmation</label>
    <div class="controls">
      {% if pass1-error %}
      <div class="error">{{pass1-error}}</div>
      {% endif %}

      <input id="pass1" name="pass1" tabindex="3" type="password"></input>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <input class="btn" tabindex="4" type="submit" value="Sign Up">
    </div>
  </div>
</form>

{% endblock %}
