{% extends "bluehood/views/templates/base.html" %}

{% block content %}

<h2>Sign Up</h2>

<form action="{{servlet-context}}/register" method="POST" class="form-horizontal">
  <div class="control-group">
    <label for="name" class="control-label">Name</label>
    <div class="controls">

      {% for error in user.errors.name %}
      <div id="name-error" class="error">{{error}}</div>
      {% endfor %}

      <input id="name" name="name" tabindex="1" type="text" value={{user.name}}></input>
    </div>
  </div>

  <div class="control-group">
    <label for="email" class="control-label">Email</label>
    <div class="controls">

      {% for error in user.errors.email %}
      <div id="email-error" class="error">{{error}}</div>
      {% endfor %}

      <input id="email" name="email" tabindex="1" type="text" value={{user.email}}></input>
    </div>
  </div>

  <div class="control-group">
    <label for="password" class="control-label">Password</label>
    <div class="controls">
      {% for error in user.errors.password %}
      <div id="password-error" class="error">{{error}}</div>
      {% endfor %}

      <input id="password" name="password" tabindex="2" type="password"></input>
    </div>
  </div>

  <div class="control-group">
    <label for="password-confirmation" class="control-label">Password Confirmation</label>
    <div class="controls">
      {% for error in user.errors.password-confirmation %}
      <div class="error">{{error}}</div>
      {% endfor %}

      <input id="password-confirmation" name="password-confirmation" tabindex="3" type="password"></input>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <input class="btn" tabindex="4" type="submit" value="Sign Up">
    </div>
  </div>
</form>

{% endblock %}
