{% extends "bluehood/views/templates/base.html" %}

{% block content %}

<form action="{{servlet-context}}/register" method="POST" class="form-horizontal">
  <div class="control-group">
    <label for="name" class="control-label">Name</label>
    <div class="controls">

      {% if name-error %}
      <div class="error">{{name-error}}</div>
      {% endif %}

      <input id="name" name="name" tabindex="1" type="text" value={{name}}></input>
    </div>
  </div>

  <div class="control-group">
    <label for="email" class="control-label">Email</label>
    <div class="controls">

      {% if email-error %}
      <div class="error">{{email-error}}</div>
      {% endif %}

      <input id="email" name="email" tabindex="1" type="text" value={{email}}></input>
    </div>
  </div>

  <div class="control-group">
    <label for="password" class="control-label">Password</label>
    <div class="controls">
      {% if password-error %}
      <div class="error">{{password-error}}</div>
      {% endif %}

      <input id="password" name="password" tabindex="2" type="password"></input>
    </div>
  </div>

  <div class="control-group">
    <label for="password-confirmation" class="control-label">Password Confirmation</label>
    <div class="controls">
      {% if password-confirmation-error %}
      <div class="error">{{password-confirmation-error}}</div>
      {% endif %}

      <input id="password-confirmation" name="password-confirmation" tabindex="3" type="password"></input>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <input class="btn" tabindex="4" type="submit" value="Sign Up">
    </div>
  </div>
</form>

{% endblock %}
